*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  position: relative; }

body {
  font-family: "Karla", sans-serif; }

.heading-1 {
  font-size: 3rem;
  font-weight: 400;
  font-family: "DM Serif Display", serif;
  color: #fafafa;
  text-align: center;
  line-height: 1;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 48em) {
    .heading-1 {
      font-size: 4.5rem;
      text-align: left;
      width: 50%; } }

.heading-2 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #2b272f;
  font-family: "DM Serif Display", serif;
  letter-spacing: 0.2rem;
  margin-top: 2rem; }
  @media only screen and (min-width: 48em) {
    .heading-2 {
      font-size: 4.2rem; } }

.heading-3 {
  font-size: 2rem;
  font-weight: 400;
  font-family: "DM Serif Display", serif;
  color: #2b272f;
  margin-bottom: 2rem; }

.heading-4 {
  font-size: 3rem;
  font-weight: 400;
  font-family: "DM Serif Display", serif;
  color: #fafafa;
  text-align: center;
  line-height: 1;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 48em) {
    .heading-4 {
      font-size: 4.5rem;
      text-align: left; } }
  @media only screen and (min-width: 48em) and (max-width: 62em) {
    .heading-4 {
      font-size: 3.5rem; } }

.paragraph-primary {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #fafafa;
  text-align: center;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 48em) {
    .paragraph-primary {
      text-align: left;
      width: 50%; } }

.paragraph-secondary {
  font-size: 1.5rem;
  line-height: 1.3;
  color: #837d87; }

.u-margin-bottom {
  margin-bottom: 2rem; }

.btn:link,
.btn:visited {
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 3rem; }

.btn-white {
  color: #fafafa;
  border: 0.2rem solid #fafafa; }
  .btn-white:hover {
    background-color: #fafafa;
    color: #2b272f; }

.btn__mobile {
  color: #fafafa;
  border: 0.2rem solid #fafafa;
  padding: 1rem 10rem; }
  .btn__mobile:hover {
    background-color: #fafafa;
    color: #2b272f; }

.btn-black {
  color: #2b272f;
  border: 0.2rem solid #2b272f; }
  .btn-black:hover {
    background-color: #2b272f;
    color: #fafafa; }

.line {
  width: 12rem;
  border-top: 1px solid #2d2640;
  opacity: 0.4;
  margin: 0 auto; }
  @media only screen and (min-width: 48em) {
    .line {
      margin: 0; } }

.line-header {
  display: none; }
  @media only screen and (min-width: 48em) {
    .line-header {
      width: 12rem;
      border-top: 2px solid #fafafa;
      opacity: 0.4;
      margin: 4rem 0;
      display: block; } }

.line-footer {
  border-bottom: 2px solid #837d87;
  opacity: 0.2; }

.nav {
  display: none; }
  @media only screen and (min-width: 48em) {
    .nav {
      display: block; } }
  .nav__list {
    display: flex;
    list-style: none; }
    .nav__list--item {
      font-size: 1.6rem;
      text-transform: uppercase; }
      .nav__list--item:not(:last-child) {
        margin-right: 3rem; }
    .nav__list--link {
      text-decoration: none;
      color: #837d87;
      font-weight: 700; }
      @media only screen and (min-width: 48em) {
        .nav__list--link:hover {
          color: #2d2640; } }

.mobile__nav {
  display: none;
  background-color: #2b272f;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 2%;
  z-index: 10;
  padding: 4rem 0;
  background-image: url(../images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: 100% 10%;
  background-size: contain; }
  .mobile__nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none; }
    .mobile__nav__list--item {
      font-size: 1.6rem;
      text-transform: uppercase; }
      .mobile__nav__list--item:not(:last-child) {
        margin-bottom: 3rem; }
    .mobile__nav__list--link {
      text-decoration: none;
      color: #fafafa;
      font-weight: 700; }
      .mobile__nav__list--link:hover {
        text-decoration: underline; }
  @media only screen and (min-width: 48em) {
    .mobile__nav {
      display: none; } }

.show-menu {
  display: block; }
  @media only screen and (min-width: 48em) {
    .show-menu {
      display: none; } }

.footer {
  padding: 3rem 2rem;
  background-color: #fafafa;
  background-image: url(../images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  background-position: 0 -1rem; }
  @media only screen and (min-width: 48em) {
    .footer {
      padding: 2rem 10rem;
      background-image: url(../images/bg-pattern-footer-desktop.svg);
      background-position: 0 0; } }
  .footer__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0; }
    @media only screen and (min-width: 48em) {
      .footer__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between; } }
  .footer__content__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 2rem 0; }
    .footer__content__list--item:not(:last-child) {
      margin-right: 2rem; }
    .footer__content__list--link {
      text-decoration: none; }
    .footer__content__list--icon:hover {
      fill: #2d2640; }
  .footer__main {
    display: flex;
    flex-direction: column;
    padding: 3rem 0; }
    @media only screen and (min-width: 48em) {
      .footer__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 85%; } }
    @media only screen and (min-width: 48em) and (max-width: 62em) {
      .footer__main {
        width: 100%; } }
    .footer__main__list {
      list-style: none;
      padding: 2rem 0;
      text-align: center; }
      @media only screen and (min-width: 48em) {
        .footer__main__list {
          text-align: left; } }
      .footer__main__list--item {
        font-size: 2rem;
        font-weight: 700;
        line-height: 2; }
      .footer__main__list--link {
        text-decoration: none;
        text-transform: uppercase;
        color: #2b272f; }
        .footer__main__list--link:hover {
          text-decoration: underline; }
  .footer__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
    color: #837d87; }
    @media only screen and (min-width: 48em) {
      .footer__title {
        text-align: left; } }

.header__intro {
  background-color: #fafafa;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem; }
  @media only screen and (min-width: 48em) {
    .header__intro {
      justify-content: space-around;
      padding: 3rem; } }
  @media only screen and (min-width: 48em) {
    .header__intro__icon {
      display: none; } }

.header__main {
  position: relative; }
  .header__main::before {
    content: "";
    background-image: url(../images/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    position: absolute;
    top: 53%;
    left: 0;
    width: 50%;
    height: 100%; }
    @media only screen and (min-width: 48em) {
      .header__main::before {
        background-image: url(../images/bg-pattern-intro-left-desktop.svg);
        background-position: center left;
        top: 80%;
        width: 15%; } }
  .header__main::after {
    content: "";
    background-image: url(../images/bg-pattern-intro-right-mobile.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 0;
    width: 25%;
    height: 100%; }
    @media only screen and (min-width: 48em) {
      .header__main::after {
        background-image: url(../images/bg-pattern-intro-right-desktop.svg);
        background-position: top right;
        top: 0;
        width: 25%; } }

.header__logo {
  height: 2rem; }

.header__picture--photo {
  width: 100%;
  display: block;
  height: auto; }
  @media only screen and (min-width: 48em) {
    .header__picture--photo {
      width: 30%;
      position: absolute;
      left: 55%;
      top: 17%; } }
  @media only screen and (min-width: 48em) and (max-width: 62em) {
    .header__picture--photo {
      top: 25%;
      width: 40%;
      left: 55%; } }

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  background-color: #2d2640; }
  @media only screen and (min-width: 48em) {
    .header__content {
      width: 100%;
      align-items: flex-start;
      padding: 10rem; } }

.main {
  padding: 6rem 3rem;
  background-color: #fafafa; }
  .main__title {
    text-align: center; }
    @media only screen and (min-width: 48em) {
      .main__title {
        text-align: left;
        padding-top: 24rem;
        padding-left: 3rem; } }
    @media only screen and (min-width: 48em) and (max-width: 62em) {
      .main__title {
        padding-left: 0; } }
  .main__content {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem; }
    @media only screen and (min-width: 48em) {
      .main__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 8rem 0; } }
    .main__content__item {
      text-align: center;
      margin-bottom: 5rem; }
      @media only screen and (min-width: 48em) {
        .main__content__item {
          text-align: left;
          flex: 0 0 31%; }
          .main__content__item:not(:last-child) {
            margin-right: 2rem; } }
    .main__content__icon {
      height: 6rem;
      margin-bottom: 2rem; }
  .main__component {
    padding: 6rem 2rem;
    width: 100%;
    background-color: #2d2640;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: right -5rem; }
    @media only screen and (min-width: 48em) {
      .main__component {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
        background-position: right center;
        background-size: contain; } }
    @media only screen and (min-width: 48em) and (max-width: 62em) {
      .main__component {
        background-image: url(../images/bg-pattern-how-we-work-mobile.svg); } }
    .main__component__title {
      padding: 2rem 3rem; }
      @media only screen and (min-width: 48em) {
        .main__component__title {
          flex: 0 0 30%;
          padding: 0; } }
