// COLORS
$color-dark-violet: #2d2640;
$color-grayish-blue: #95a9c6;
$color-very-dark-violet: #2b272f;
$color-dark-grayish-violet: #837d87;
$color-very-light-gray: #fafafa;

// FONTS
$font-headings: "DM Serif Display", serif;
$font-body: "Karla", sans-serif;
$default-font-size: 1.6rem;

// RESPONSIVE BREAKPOINTS
$bp-mobile: 48em; // 768px
$bp-tablet: 62em; // 992px
